@using WebGrease.Css.Extensions
@model BetterLife.Domain.Entities.Photo

<link rel="stylesheet" type="text/css" href="/Content/reset.css">
<link rel="stylesheet" type="text/css" href="/Content/main.css">
<script src="/Scripts/jquery.js"></script>
<script src="/Scripts/main.js"></script>
<link rel="stylesheet" href="/Content/bootstrap.min.css" type="text/css" />
<script type="text/javascript" src="/Scripts/jquery.js"></script>
<script type="text/javascript" src="/Scripts/main.js"></script>
<script src="/Scripts/jquery.validate.min.js"></script>
<script src="/Scripts/bootstrap.js"></script>

<script type="text/javascript">
    $('.dropdown-toggle').dropdown()
</script>


<section class="top">
    <div class="wrapper content_header clearfix">

    </div>
</section><!-- end top -->

<section class="wrapper">
    <ul class="nav nav-pills">
        <li role="presentation">@Html.ActionLink("Information", "Person", "Person", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
        <li role="presentation" class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Photo <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Insert New Photo", "AddPhoto", "Photo", routeValues: null, htmlAttributes: new { @class = "username", title = "Location" })</li>
                <li>@Html.ActionLink("Photo List/Edit", "GetAllPhotos", "Photo", routeValues: null, htmlAttributes: new { @class = "username", title = "Location" })</li>
            </ul>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Location <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Insert New Location", "AddLocation", "Location", routeValues: null, htmlAttributes: new { @class = "username", title = "Location" })</li>
                <li>@Html.ActionLink("Location List/Edit", "GetAllLocations", "Location", routeValues: null, htmlAttributes: new { @class = "username", title = "Location" })</li>
            </ul>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Favorite Books <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Insert New Book", "AddBook", "Book", routeValues: null, htmlAttributes: new { @class = "username", title = "Location" })</li>
                <li>@Html.ActionLink("Book List/Edit", "GetAllMyBooks", "Book", routeValues: null, htmlAttributes: new { @class = "username", title = "Location" })</li>
                <li>@Html.ActionLink("Book List/All", "GetAllBooks", "Book", routeValues: null, htmlAttributes: new { @class = "username", title = "Location" })</li>
            </ul>
<li role="presentation"><a href="#">Favorite Movies</a></li>
        <li role="presentation"><a href="#">Favorite Books</a></li>
    </ul>
    <div class="content">
        <h1 class="text-center">@ViewBag.Message</h1>
        @using (Html.BeginForm("AddPhoto", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <form class="form-inline">

                <div class="form-group ">
                    @Html.LabelFor(m => m.PhotoTitle, htmlAttributes: new { @for = "imput1" })
                    @Html.TextBoxFor(m => m.PhotoTitle, htmlAttributes: new { @class = "form-control", placeholder = "Luke", id = "imput1", type = "text" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.IsProfile, htmlAttributes: new { @for = "imput2" })
                    @Html.CheckBoxFor(m => m.IsProfile, htmlAttributes: new { @class = "form-control" })
                </div>
                <p>@Html.TextBox("file", "", new { type = "file" })</p>
                <button type="submit" class="btn btn-default center-block  ">Insert</button>
            </form>
        }
    </div>
</section>




