@model IEnumerable<BetterLife.Domain.Entities.Location>
@using System.Configuration
@using System.Web.Http.OData.Builder
@using BetterLife.WebUi.HtmlHelperMethods;
@using WebGrease.Css.Extensions

<link rel="stylesheet" type="text/css" href="/Content/reset.css">
<link rel="stylesheet" type="text/css" href="/Content/main.css">
<script src="/Scripts/jquery.js"></script>
<script src="/Scripts/main.js"></script>
<link rel="stylesheet" href="/Content/bootstrap.min.css" type="text/css" />
<script type="text/javascript" src="/Scripts/jquery.js"></script>
<script type="text/javascript" src="/Scripts/main.js"></script>
<script src="/Scripts/jquery.validate.min.js"></script>
<script src="/Scripts/bootstrap.js"></script>

<script type="text/javascript">
    $('.dropdown-toggle').dropdown()
</script>


<section class="top">
    <div class="wrapper content_header clearfix">

    </div>
</section><!-- end top -->

<section class="wrapper">
    <ul class="nav nav-pills">
        <li role="presentation">@Html.ActionLink("Information", "Person", "Person", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Photo <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Insert New Photo", "AddPhoto", "Photo", routeValues: null, htmlAttributes: new { @class = "username", title = "Location" })</li>
                <li>@Html.ActionLink("Photo List/Edit", "GetAllPhotos", "Photo", routeValues: null, htmlAttributes: new { @class = "username", title = "Location" })</li>
            </ul>
        <li role="presentation" class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Location <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Insert New Location", "AddLocation", "Location", routeValues: null, htmlAttributes: new { @class = "username", title = "Location" })</li>
                <li class="active">@Html.ActionLink("Location List/Edit", "GetAllLocations", "Location", routeValues: null, htmlAttributes: new { @class = "username", title = "Location" })</li>
            </ul>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Favorite Books <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Insert New Book", "AddBook", "Book", routeValues: null, htmlAttributes: new { @class = "username", title = "Location" })</li>
                <li>@Html.ActionLink("Book List/Edit", "GetAllMyBooks", "Book", routeValues: null, htmlAttributes: new { @class = "username", title = "Location" })</li>
                <li>@Html.ActionLink("Book List/All", "GetAllBooks", "Book", routeValues: null, htmlAttributes: new { @class = "username", title = "Location" })</li>
            </ul>
<li role="presentation"><a href="#">Favorite Movies</a></li>

    </ul>
</section>

@if (Model.Any())
{
    foreach (var location in Model)
    {
        <div class="work">
            <div class="work_title">
                <div class="location">
                    <h3>Country :@location.Country</h3>
                    <h4>City :@location.City</h4>
                    <h4>Street :@location.Street @location.HouseNumber</h4>
                    <h4>Zip Code :@location.ZipCode</h4>
                    @if (location.IsCurrentLocation)
                    {
                        <h1>CurrentLocation</h1>
                    }
                    @if (location.IsHomeTown)
                    {
                        <h1>HomeLocation</h1>
                    }

                    <h2>@Html.ActionLink("Edit", "UpdateLocation", new { location.LocationId })</h2>
                </div>            
            </div>
            </div>
    }
}
else
{
            <h1 class="text-center">Empty Here ! @Html.ActionLink("Insert New Location", "AddLocation", "Location", routeValues: null, htmlAttributes: new { @class = "username", title = "Location" })</h1>
}