@model IEnumerable<BetterLife.Domain.Entities.Location>
@using System.Configuration
@using System.Web.Http.OData.Builder
@using BetterLife.WebUi.HtmlHelperMethods;
@using WebGrease.Css.Extensions

<link rel="stylesheet" type="text/css" href="/Content/reset.css">
<link rel="stylesheet" type="text/css" href="/Content/main.css">
<script src="/Scripts/jquery.js"></script>
<script src="/Scripts/main.js"></script>
<link rel="stylesheet" href="/Content/bootstrap.min.css" type="text/css" />
<script type="text/javascript" src="/Scripts/jquery.js"></script>
<script type="text/javascript" src="/Scripts/main.js"></script>
<script src="/Scripts/jquery.validate.min.js"></script>
<script src="/Scripts/bootstrap.js"></script>

<script type="text/javascript">
    $('.dropdown-toggle').dropdown()
</script>


<section class="top">
    <div class="wrapper content_header clearfix">

    </div>
</section><!-- end top -->

<section class="wrapper">
    <ul class="nav nav-pills">
        <li role="presentation">@Html.ActionLink("Information", "OtherPerson", "Person", new { @ViewBag.personProfileId }, htmlAttributes: new { @class = "username", title = "Manage" })</li>
        <li role="presentation" >@Html.ActionLink("Photo List", "GetAllPersonPhotos", "Photo", new { @ViewBag.personProfileId }, htmlAttributes: new { @class = "username", title = "Manage" })</li>
        <li role="presentation" class="active">@Html.ActionLink("Location List", "GetAllPersonLocations", "Location", new { @ViewBag.personProfileId }, htmlAttributes: new { @class = "username", title = "Manage" })</li>
        <li role="presentation">@Html.ActionLink("Movie List", "GetAllPersonMovies", "Movie", new { @ViewBag.personProfileId }, htmlAttributes: new { @class = "username", title = "Manage" })</li>
        <li role="presentation">@Html.ActionLink("Book List", "GetAllPersonBooks", "Book", new { @ViewBag.personProfileId }, htmlAttributes: new { @class = "username", title = "Manage" })</li>   
        @if (User.Identity.Name != "")
        {
            <li role="presentation">@Html.ActionLink("Send Message", "SendMessage", "Message", new { @ViewBag.PersonProfileId }, htmlAttributes: new { @class = "username", title = "Manage" })</li>
        }
    </ul>
</section>

@if (Model.Any())
{
    foreach (var location in Model)
    {
        <div class="work">
            <div class="work_title">
                <div class="location">
                    <h3>Country :@location.Country</h3>
                    <h4>City :@location.City</h4>
                    <h4>Street :@location.Street @location.HouseNumber</h4>
                    <h4>Zip Code :@location.ZipCode</h4>
                    @if (location.IsCurrentLocation)
                    {
                        <h1>CurrentLocation</h1>
                    }
                    @if (location.IsHomeTown)
                    {
                        <h1>HomeLocation</h1>
                    }
                </div>
            </div>
        </div>
    }
}
else
{
    <h1 class="text-center">Empty Here !</h1>
}